$main: #0f0;
$size: 20px;
@mixin txt {
  background-color: #ccc;
  border: 1px solid;
  padding: 20px;
}
@mixin text($bg, $heigh, $margin) {
  background-color: $bg;
  line-height: $heigh;
  margin: $margin;
}
ul {
  // @include txt;
  @include text(#ccc, 1.5, 40px);
  list-style: none;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: $main;
      font-size: $size;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
p {
  @include txt;
  color: $main;
}
