@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.slidewrap {
  width: 1200px;
  height: 300px;
  margin: 50px auto;
  overflow: hidden;
}
.slidewrap .slide {
  width: 300%;
  display: flex;
}
.slidewrap .slide li {
  width: 1200px;
  height: 300px;
}
.slidewrap .slide li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
